
<script src="../wwwroot/js/script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="~/Admin/Index" class=" navbar-brand ">Samsun Universitesi Kutuphanesi</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="~/Admin/bookList" class="btn btn-secondary">Kitap Listesi</a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/booksAdd" class="btn btn-secondary  ml-5 mr-5 ">Kitap Ekle</a>
            </li>
            
            <li class="nav-item">
                <a href="~/Admin/bookEdit" class="btn btn-secondary ">Kitap Edit</a>
            </li>

            <li class="nav-item ml-5 mr-5">
                <a href="~/Home" class="btn btn-warning ">Exit</a>
            </li>
        </ul>


    </div>
</nav>




