
<script src="../wwwroot/js/script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a href="~/home/Index" class=" navbar-brand ">Samsun Universitesi Kutuphanesi</a>
        <form action="/home/Index" class="form-inline my-2 my-lg-0">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="Kitap Ara" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">Ara</button>
        </form>
        <a href="~/Home/login" class="btn btn-secondary ">Giris Yap</a>
    </div>
</nav>



@* <form action="/product/list" class="form-inline">
    <input name="q" type="text" class="form-control mr-2" placeholder="Search" />
    <button type="submit" class="btn btn-outline-light mr-0">Search </button>
</form> *@
