
@await Html.PartialAsync("_navbarAdmin")
<main class="container d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Welcome to Admin Page</h1>
    </div>
</main>
@await Html.PartialAsync("_footer")
